@use '../../base/index' as *;

#header-desktop {
  width: 100vw;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(25px);
  position: fixed;
  top: 0;
  z-index: 1000;
  @include flex(row, center, center);
  .header-wrap {
    @include layout();
    width: 100%;
    @include flex(row, space-between, center);
    img {
      width: 65px;
      cursor: pointer;
      @include mobile {
        width: 43px;
      }
    }
    .gnb {
      @include flex(row, space-between, center);
      gap: 50px;
      @include body-l();
      @include mobile {
        display: none;
      }
      li {
        a {
          cursor: pointer;
          transition: all 0.2s;
          color: var(--gray-800);
          &.active {
            color: var(--primary-500);
          }
          &:hover {
            color: var(--primary-500);
          }
        }
      }
    }
    .header-btn {
      @include flex();
      gap: 4px;
      color: var(--gray-800);
      @include body-l();
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        color: var(--primary-500);
      }
    }
    .mypage {
      display: none;
    }
  }
}
