@use "../../base/index" as *;

.homepage {
  @include page-layout();
  background-color: var(--white-color);
  .section-title {
    width: 100%;
    @include flex(row, space-between, flex-end);
    @include layout();
    // ---- 입양 추천 강아지 섹션 / 후기 섹션 ----
    &.withme, &.review {
      .category {
        background-color: var(--primary-50);
        color: var(--primary-900);
        svg {
          color: var(--primary-700);
        }
      }
      .more-btn {
        background-color: var(--primary-700);
        @include mobile {
          background-color: transparent;
          padding: 0;
        }
        svg {
          @include mobile {
            color: var(--primary-700);
            font-size: 42px;
          }
        }
      }
    }
    // ---- 멍bti 섹션 ----
    &.mbti {
      .category {
        background-color: var(--primary-50);
        color: var(--primary-900);
        svg {
          color: var(--primary-500);
        }
      }
      .more-btn {
        background-color: var(--primary-500);
        @include mobile {
          background-color: transparent;
          padding: 0;
        }
        svg {
          @include mobile {
            color: var(--primary-500);
            font-size: 42px;
          }
        }
      }
    }
    // ---- chatdog 섹션 ----
    &.chatdog {
      .category {
        background-color: var(--secondary-50);
        color: var(--secondary-900);
        svg {
          color: var(--secondary-500);
        }
      }
      .more-btn {
        background-color: var(--secondary-500);
        @include mobile {
          background-color: transparent;
          padding: 0;
        }
        svg {
          @include mobile {
            color: var(--secondary-500);
            font-size: 42px;
          }
        }
      }
    }

    .left {
      @include flex(column, flex-start, flex-start);
      gap: 14px;
      .category {
        @include flex(row, flex-start, center);
        padding: 10px 20px;
        border-radius: 50px;
        gap: 7px;
        @include body-l();
      }
      h2 {
        @include h2-style();
        color: var(--gray-800);
        white-space: nowrap;
        @include mobile {
          white-space: normal;
          .mobile-break {
            display: block;
            padding-top: 10px;
          }
        }
      }
    }
    .more-btn {
      @include flex(row, center, center);
      gap: 8px;
      border-radius: 50px;
      padding: 15px 25px;
      color: var(--white-color);
      @include body-l();
      font-weight: 700;
      p {
        @include mobile {
          display: none;
        }
      }
      svg {
        font-size: 20px;
      }
    }
  }
}
